/* [project]/src/variables.css [app-client] (css) */
button, .button {
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 0;
  text-decoration: none;
  transition: background-color .4s;
}

button:hover, .button:hover {
  background: var(--button-bg-hover);
  color: var(--button-text-hover);
}

button:active, .button:active {
  background: var(--button-bg-active);
  color: var(--button-text-active);
}

:root, :root[data-theme="actual"] {
  --button-bg: rgba(var(--jason-5-alpha), .15);
  --button-bg-hover: rgba(var(--jason-3-alpha), .4);
  --button-bg-active: rgba(var(--jason-3-alpha), .6);
  --button-text: #ffffff80;
  --button-text-hover: #ffffffbf;
  --button-text-active: #fff;
  --text-color: white;
  --html-bg: none;
  --body-bg: linear-gradient(rgba(var(--jason-1-alpha), .1), rgba(var(--jason-1-alpha), .1)), #232323;
  --header-footer-bg: linear-gradient(rgba(var(--jason-1-alpha), .1), rgba(var(--jason-1-alpha), .1)), #191919;
  --header-footer-inner-bg: none;
  --header-footer-inner-left-bg: none;
  --header-right-bg: none;
  --header-footer-text: white;
  --email-button-wrapper-bg: none;
  --main-bg: none;
  --no-results-bg: none;
  --no-results-text: #d2d2d2;
  --card-bg: linear-gradient(rgba(var(--jason-1-alpha), .1), rgba(var(--jason-1-alpha), .1)), #323232;
  --card-image-bg: linear-gradient(90deg, rgba(var(--jason-2-alpha), .9), rgba(var(--jason-2-alpha), .9)), #fff;
  --card-image-img-bg: linear-gradient(rgba(var(--jason-2-alpha), 0), rgba(var(--jason-2-alpha), 0)), #fff;
  --card-text-bg: none;
  --logo-button-bg: none;
  --logo-button-bg-hover: linear-gradient(90deg, rgba(var(--jason-2-alpha), .15), rgba(var(--jason-2-alpha), .15)), #343434;
  --menu-outer-bg: var(--body-bg);
  --menu-inner-bg: none;
  --menu-modal-search-wrapper-bg: none;
  --menu-modal-input-reset-bg: none;
  --menu-modal-search-input-bg: #ffffff14;
  --menu-modal-search-input-text: white;
  --image-modal-overlay-div-bg: gray;
  --image-modal-content-div-bg: var(--body-bg);
  --image-modal-content-div-tablet-bg: var(--body-bg);
  --image-modal-content-div-cell-bg: var(--body-bg);
  --image-modal-and-card-text-txt: #d2d2d2;
  --image-modal-nav-and-text-div-bg: var(--header-footer-bg);
  --image-modal-nav-div-bg: none;
  --image-modal-close-div-bg: none;
  --image-modal-back-and-forward-div-bg: none;
  --image-modal-text-div-bg: none;
  --image-modal-image-container-div-bg: none;
  --image-modal-headline-bg: none;
  --image-modal-date-bg: none;
  --image-modal-location-bg: none;
  --image-modal-description-bg: none;
  --image-modal-filename-bg: none;
  --image-modal-keywords-bg: none;
}

:root[data-theme="test"] {
  --button-bg: #ffc809;
  --button-bg-hover: #6fff63;
  --button-bg-active: #0ff;
  --button-text: #ff006f;
  --button-text-hover: #2cbc58;
  --button-text-active: #fff;
  --text-color: hotpink;
  --html-bg: lightblue;
  --body-bg: hotpink;
  --header-footer-bg: chartreuse;
  --header-footer-inner-bg: pink;
  --header-left-bg: black;
  --header-right-bg: yellow;
  --header-footer-text: white;
  --email-button-wrapper-bg: coral;
  --main-bg: blue;
  --no-results-bg: lightblue;
  --no-results-text: #d2d2d2;
  --card-bg: linear-gradient(rgba(var(--jason-1-alpha), .1), rgba(var(--jason-1-alpha), .1)), #323232;
  --image-modal-and-card-text: #d2d2d2;
  --card-image-bg: orange;
  --card-image-img-bg: purple;
  --card-text-bg: #37a837;
  --logo-button-bg: magenta;
  --logo-button-bg-hover: skyblue;
  --menu-outer-bg: black;
  --menu-inner-bg: yellow;
  --menu-modal-search-wrapper-bg: lime;
  --menu-modal-input-reset-bg: purple;
  --menu-modal-search-input-text: white;
  --image-modal-overlay-div-bg: green;
  --image-modal-content-div-bg: #40347d;
  --image-modal-content-div-tablet-bg: #b474bb;
  --image-modal-content-div-cell-bg: #be4e6c;
  --image-modal-nav-and-text-div-bg: skyblue;
  --image-modal-nav-div-bg: goldenrod;
  --image-modal-close-div-bg: lime;
  --image-modal-nav-button-bg: #c183b9;
  --image-modal-back-and-forward-div-bg: #00a2ff40;
  --image-modal-text-div-bg: hotpink;
  --image-modal-image-container-div-bg: #963a0c;
  --image-modal-and-card-text-txt: lightblue;
  --image-modal-headline-bg: red;
  --image-modal-date-bg: lightgreen;
  --image-modal-location-bg: red;
  --image-modal-description-bg: lightgreen;
  --image-modal-filename-bg: red;
  --image-modal-keywords-bg: lightgreen;
}

:root {
  --jason-1: #6e695a;
  --jason-1-alpha: 110, 105, 90;
  --jason-2: #c9bb50;
  --jason-2-alpha: 201, 187, 80;
  --jason-3: #cc6226;
  --jason-3-alpha: 204, 98, 38;
  --jason-4: #4e83a9;
  --jason-4-alpha: 78, 131, 169;
  --jason-5: #cbc1ae;
  --jason-5-alpha: 203, 193, 174;
  --font-heading: "Figtree", sans-serif;
  --font-body: "Figtree", sans-serif;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
}

body {
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  color: var(--text-color);
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

ul {
  margin-top: .5rem;
  margin-bottom: 2rem;
}

h2, h3, h4 {
  color: inherit;
  font-family: var(--font-heading);
  font-weight: var(--weight-semi-bold);
  margin: 0;
  font-size: 1.8rem;
  line-height: 1;
}

.body-small {
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  margin: 0;
  font-size: .875rem;
}

.button-text {
  background: var(--button-bg);
  color: var(--button-text);
  font-family: var(--font-body);
  font-weight: var(--weight-bold);
  margin-top: 0;
  margin-bottom: 0;
  font-size: .875rem;
  text-decoration: none;
}

/*# sourceMappingURL=src_variables_css_bad6b30c._.single.css.map*/