.header {
  background: var(--header-footer-background);
  color: var(--header-footer-text);
  width: 100%;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-inner {
  background: var(--header-footer-inner-background);
  max-width: 1000px;
  width: 100%;              
  margin: 0 auto;
  padding: 8px;        
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.25rem;
}
.header-left {
  opacity: 100;
  background: var(--header-footer-inner-left-background);
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.25rem;
  gap: 3rem;
  margin: 0;
  vertical-align: middle;
  padding: 0;
}
.logo-button {
  background: var(--logo-button-background);
  color: var(--button-text);
  border: none;
  padding: 0;
  transition: background-color 0.3s ease;
}
.logo-button img {
  display: block;
  height: 36px;
  width: auto;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
.logo-button img {
  display: block;
  height: 80px;
  width: auto;
  margin: 0;
  padding: 0;
}
}
.header-right {
  background: var(--header-footer-inner-right-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 2.15rem;  
}
@media (min-width: 601px) and (max-width: 1024px) {
.header-right {
  gap: 3.38vw;  
}
}
@media (max-width: 600px) {
.header-right {
  flex-direction: column;
  align-items: flex-end;
  gap: .32rem;  
}
}
.input-and-reset {
  background: var(--header-footer-inner-right-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  gap: .5rem;
}
.search-input {
        background: linear-gradient(rgba(var(--jason-1-alpha),.5),rgba(var(--jason-1-alpha),.5)), rgb(255, 255, 255);
        border: none;
        height: 36px;
        color: black;
        vertical-align: middle;
        border-radius: 4px;
        margin-bottom: -1px;
        padding: 0;
        text-indent: 10px;
        box-sizing: border-box;
}

.search-input::placeholder {
        display: none;
        font-family: var(--font-body);
        font-weight: var(--weight-regular);
        line-height: 1.6;
        font-size: 3rem;
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-indent: -3px;
}
.search-wrapper {
  position: relative;
}
.search-wrapper:focus-within .search-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.search-icon {
  position: absolute;
  left: 7px;
  top: 66%;
  transform: translateY(-50%);
  color: #c100ae;
  pointer-events: none; /* so clicks go to input */
}
.search-icon img {
        width: 20%;
        opacity:80%;
}

/* #region BLANK MEDIA QUERY */
/*
COPY THIS: TABLET TABLET TABLET
@media (min-width: 601px) and (max-width: 1024px) {
COPY & MODIFY LARGE SCREEN STYLE HERE
}
COPY THIS: SMALL SMALL SMALL
@media (max-width: 600px) {
COPY & MODIFY LARGE SCREEN STYLE HERE
}
*/
/* #endregion BLANK MEDIA QUERY  */