.modal-overlay { 
  /* modal-overlay is the layer that's between the normal card view and the modal-content that contains larger image. Since in your current plan the modal-content takes up the whole screen, modal-overlay is entirely hidden. Consider removing this when all is settled. */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content { 
  /* Contains image, text, buttons. With modal-content width & height at 100vh, modal-overlay is completely hidden. */
  background-color: var(--modal-content);
  padding: 12px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: var(--modal-content-flex-direction);
  justify-content: flex-end; /* Keeps text block pinned to bottom */
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  row-gap: 12px;
}
/*
@media (min-width: 601px) and (max-width: 1024px) {
.modal-content { 
  background-color: grey;
}
}
*/
.modal-nav-and-text { /* e: div */
  background-color: var(--modal-nav-and-text);
  color: var(--modal-and-card-text);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  gap: 8px; 
  box-sizing: border-box;
  border-radius: 6px;
  min-height: fit-content;
}
.modal-nav { /* e: div */
        background-color: var(--modal-nav);
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
        margin-top: 10px;
        gap:7%;
        box-sizing: border-box;
        border-radius: 6px;
        flex: 1 1 50%;
}
@media (max-width: 600px) {
.modal-nav { /* e: div */
        margin-left: 15px;
        gap:15%;
        flex: 1 1 15%;
}
}
.modal-close { /* e: div */
        background-color: var(--modal-close);
        height: 100%;
        padding: 0;
        box-sizing: border-box;
        border-radius: 6px;
}
.modal-nav-button { /* e: button */
        height: 100%;
        padding: 0;
        font-weight: bold;
        background-color: var(--modal-nav-button-bg);
        color: rgb(204,204,204);
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
.modal-close-icon, .modal-back-icon, .modal-forward-icon { /* e: img */
        opacity: 25%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition-duration: .7s;
}
.modal-close-icon:hover, .modal-back-icon:hover, .modal-forward-icon:hover { /* e: img */
        opacity: 65%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition-duration: .7s;
}
.modal-back-and-forward { /* e: div */
        background-color: var(--modal-back-and-forward);
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding-right: 8px;
        gap: 2vw;
        box-sizing: border-box;
        border-radius: 6px;
}
.modal-forward-icon { /* e: img */
       rotate: 180deg;
}
.modal-text { /* e: div */
  background-color: var(--modal-text);
  padding: 4px 0 0 10px;
  border-radius: 6px;
  flex: 1 1 50%;
}
.modal-headline {
  font-size: 1.3rem;
  margin-top: 0;    
  margin-bottom: 0;
  line-height: 1.25rem;    
}
.modal-date {
  font-size: 1rem;
  margin-top: 10px;    
  margin-bottom: 0;
  line-height: 1.25rem;    
}
.modal-location {
  font-size: 1rem;
  margin-top: 8px;    
  margin-bottom: 0;
  line-height: 1.25rem;    
}
.modal-description {  
  font-size: 1rem;
  margin-top: 8px;    
  margin-bottom: 0;
  line-height: 1.25rem;    
}
.modal-filename {
  display: none;
  font-size: 1rem;
  margin-top: 0;    
  margin-bottom: 0;
  line-height: 1.25rem;    
}
.modal-keywords {
  display: none;
  font-size: 1.0rem;
  margin-bottom: 8px;
  margin-top: 0;    
}
.modal-image-container {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.modal-image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 6px;
}
