.resume-text-outer {
        opacity: 1;
        background-color: var(--resume-text-outer-bg);
        width: 100%;
        display: block; 
}
@media (min-width: 601px) and (max-width: 1024px) {
.resume-text-outer {
        opacity: 1;
}
}
@media (max-width: 600px) {
.resume-text-outer {
        opacity: 1;
}
}
.resume-text-inner {
        opacity: 1;
        background-color: var(--resume-text-inner-bg);
        margin: 0 auto;
        padding: 10px 100px 10px 10px;
        max-width: 1000px;
        width: 100%;              
        display: block;
        box-sizing: border-box;
}
@media (min-width: 601px) and (max-width: 1024px) {
.resume-text-inner {
        opacity: 1;
}
}
@media (max-width: 600px) {
.resume-text-inner {
        opacity: 1;
}
}
.name {
        opacity: .8;
        font-size: 2.5rem;
        margin-bottom: 8px;
        text-transform: uppercase; 
}
.occupation {
        opacity: .8;
        font-size: 1.75rem;
        margin-bottom: 16px;
        text-transform: uppercase; 
}
.location, .phone, .email {
        opacity: .4;
        font-size: 1.25rem;
        margin-bottom: 6px;
        font-weight: 400;  
}
.email {
        margin-bottom: 22px;
}
.level-1-list li, 
.level-2-list li, 
.level-3-list li, 
.level-4-list li, 
.level-5-list li  {
        opacity: .8;
        font-size: 1rem;
        margin-bottom: 15px;
        text-transform: uppercase; 
}
.level-1-list li  {
        list-style-type: none;
        margin-left: -40px;
}
.level-2-list li  {
        list-style-type: disc;  
}
.level-3-list li  {
        opacity: .8;
        font-size: 1rem;
        margin-bottom: 15px;
}
.level-4-list li  {
        opacity: .8;
        font-size: 1rem;
        margin-bottom: 15px;
}
.level-5-list li  {
        opacity: .8;
        font-size: 1rem;
        margin-bottom: 15px;
}
